{% extends "base.html" %}
{% block title %}
  About the project
{% endblock %}
{% block content %}
  <div class="col d-flex justify-content-center">
    <div class="card" style="width: 40rem;">
      <div class="card-header">
        About the project
      </div>
      <div class="card-body">
        <p>
          The Blogicum is a home for creative people. This is a community of people 
          for whom there is no line between blogging and friendship on social networks.
        </p>
        <p>
          Friendship and stories about new, unexplored experiences — that's it
          what you will find on our resource. There are millions of blogs on various topics.
          Travel, politics, entertainment, fashion, literature, design and everything
          other spheres of human activity.
        </p>
        <p>
          Creativity, diversity and freedom of opinion and expression —
          the main features of our users.
        </p>
      </div>
    </div>
  </div>
{% endblock %}