{% extends "base.html" %}
{% block title %}
  Our Rules
{% endblock %}
{% block content %}
  <div class="col d-flex justify-content-center">
    <div class="card" style="width: 40rem;">
      <div class="card-header">
        Site Rules
      </div>
      <div class="card-body">
        <p>
          <b>Selfexpression.</b> Our users should be able 
          to create something of their own, express themselves, 
          their thoughts and feelings.
        </p>
        <p>
          <b>Diversity.</b> We respect and welcome different
          opinions and cultures. Blogicum is a place that unites
          all kinds of people. Share your unique view of the world.
        </p>
        <p>
          <b>Creation.</b> It doesn't matter in which field you create,
          it can be literature, design, programming.
          Our tools will help you unleash your talent as much as possible
          simple and comfortable.
        </p>
        <p>
          <b>Personality.</b> We will keep your innermost thoughts a secret.
          Share your information only with those you have chosen.
          How and to what extent should your personal information be classified —
          you and only you determine.
        </p>
      </div>
    </div>
  </div>
{% endblock %}