{% extends "base.html" %}
{% block content %}
  <div class="col d-flex justify-content-center">
    <div class="card" style="width: 40rem;">
      <div class="card-header">
        An email with instructions on password recovery has been sent
      </div>
      <div class="card-body">
        <p class="text-center">
          We have sent you instructions on how to set a new password
          to the specified email address (if there is such an address in our database).
          You should get it soon.
        </p>
        <p class="text-center">
          If you have not received the email, please,
          make sure that you have entered the address you registered with,
          and check the spam folder.
        </p>
        <p class="text-center"><a href="{% url 'blog:index' %}">To the main page</a></p>
      </div>
    </div>
  </div>
{% endblock %}